<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:flex-shrink-0">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Case study</div>
      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Finding customers for your new business</a>
      <p class="mt-2 text-gray-500">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
    </div>
  </div>
</div>
<div class="relative" style="width: 478px; height: 496px;">
  <div class="inline-flex flex-col space-y-6 items-center justify-end pl-8 pr-9 pt-14 pb-8 absolute left-0 bottom-0 bg-white shadow rounded-2xl" style="width: 478px; height: 427px;">
      <div class="flex flex-col space-y-2 items-center justify-end w-96 h-24">
          <p class="text-2xl font-semibold leading-loose text-center text-gray-800">Dr. Murgunathan Ramaswamy</p>
          <p class="w-44 text-base font-semibold leading-normal text-center text-gray-700">Orthopedic Surgeon</p>
          <div class="inline-flex space-x-1 items-center justify-end w-24 h-1/4">
              <div class="relative" style="width: 24px; height: 24px;">
                  <div class="inline-flex items-center justify-center w-5 h-6 px-1.5 pt-1.5 pb-2.5 absolute left-0 top-0 bg-pink-900 bg-opacity-50 border-2 rounded-lg border-blue-500">
                      <div class="w-2 h-2 bg-pink-900 bg-opacity-50 border-2 rounded-full border-blue-500"></div>
                  </div>
                  <div class="w-6 h-6 bg-pink-900 bg-opacity-50 rounded-lg"></div>
              </div>
              <p class="w-20 text-sm leading-normal text-gray-700">Bengaluru</p>
          </div>
      </div>
      <div class="border border-blue-500" style="width: 408px; height: 1px;"></div>
      <p class="w-80 text-base leading-normal text-center text-gray-700">Book a consultation now!</p>
      <div class="flex flex-col items-center justify-end w-28 h-1/5">
          <p class="w-28 h-3/4 text-4xl font-semibold leading-10 text-center text-blue-500">₹ 750</p>
          <p class="text-xs font-semibold leading-none text-center text-gray-400">CONSULTATION FEE</p>
      </div>
      <div class="w-80 h-1/6">
          <div class="flex space-x-3 items-center justify-end flex-1 h-full py-4 px-12 bg-blue-500 rounded-full">
              <div class="relative" style="width: 24px; height: 24px;">
                  <div class="w-2 h-3 absolute bg-pink-900 bg-opacity-50 border-2 rounded-full border-white" style="left: 16px; top: 7px;"></div>
                  <div class="w-4 h-4 absolute bg-pink-900 bg-opacity-50 border-2 rounded-full border-white" style="left: 1px; top: 5px;"></div>
                  <div class="w-6 h-6 bg-pink-900 bg-opacity-50 rounded-lg"></div>
              </div>
              <p class="text-sm font-semibold leading-normal text-white">Book Online Consultation</p>
          </div>
      </div>
  </div>
  <div class="relative absolute" style="width: 112px; height: 112px; left: 182px; top: 0px;">
      <div class="w-24 h-24 absolute left-0 top-0 rounded-full"></div>
      <div class="w-28 h-28 border-2 rounded-full border-blue-500"></div>
  </div>
</div>

<app-hero-search></app-hero-search>
